xml/patient.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/patient"
	xmlns:tns="http://www.example.org/patient" elementFormDefault="qualified">

    <element name="patient" type="tns:patient"/>
    <complexType name="patient">
    <sequence>
    <element name="id" type="int"/>
    <element name="name" type="string"/>
    <element name="age" type="int"/>
    <element name="email" type="string"/>
    <element name="gender" type="string"/>
    <element name="phone" type="string"/>
    </sequence>
    </complexType>
    
    
   
    
</schema>